form {
    width: 50%;
    background: grey;
    color: #ffffff;
    padding: 10px 
}

input:focus,
select:focus,
textarea:focus {
    border: 2px solid #4e708c;
    background: 1px solid #ffffff; 
}

label {
    display: block;
    width: 50%;
}

label[for*="male"] {
    display: inline;
}

label[for*="agreement"] {
    display: inline;
}

input:not([type="radio" type="checkbox"]) {
    background-color: #ffffff; 
    width: 50%;
    padding: 5px;
    color: #ffffff;
}

input[type="submit"] {
    background-color: lightgreen;
    width: 20%;
    text-transform: uppercase;
    font-weight: bold;
}